body {
  background-color: antiquewhite;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  user-select: none;
}

#calculator {
  background-color: white;
  border: 2px black solid;
  border-radius: 15px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 0;
}

#display {
  background-color: #C3C0C4;
  border: solid black 2px;
  margin: 10px;
  border-radius: 5px;
  padding: 2px 2px 1px 1px;
  width: 100%;
  text-align: right;
}

.row {
  width: 100%;
  display: flex;
  gap: 10px;
}

.row div {
  background-color: #C3C0C4;
  display: flex;
  font-weight: bold;
  border: black solid 2px;
  border-radius: 15px;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.row div:hover {
  background-color: #F3EFF5;
  cursor: pointer;
}

.row div p {
  margin: 0;
}