body {
  user-select: none;
  background-color: antiquewhite;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  background-color: #333333;
  box-shadow: 4px 3px 1px black;
  max-width: 210px;
  border: 2px black solid;
  border-radius: 25px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#display {
  background-color: #77a87f;
  border: solid black 2px;
  margin: 10px;
  border-radius: 20px;
  padding: 2px 2px 1px 1px;
  width: 100%;
  text-align: right;
}

#display p {
  padding-right: 5px;
  word-break: break-all;
}

#clear-button, #delete-button {
  flex-grow: 1;
  background-color: black;
  color: white;
  font-size: 20px;
}

#operation-display {
  font-size: 14px;
}

#equal-button {
  background-color: orangered;
}

.row {
  width: 100%;
  display: flex;
  gap: 10px;
}

button {
  background-color: #706f6f;
  color: white;
  border: none;
  font-size: 30px;
  width: 45px;
  height: 32px;
  box-shadow: 2px 2px 1px black;
  cursor: pointer;
}

.active {
  transition: 0.1s;
  box-shadow: 0 0 0 black;
  transform: scale(0.85);
}