body {
  background-color: antiquewhite;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  user-select: none;
}

#calculator {
  background-color: #333333;
  border: 2px black solid;
  border-radius: 15px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 0;
}

#display {
  background-color: #87B38D;
  border: solid black 2px;
  margin: 10px;
  border-radius: 20px;
  padding: 2px 2px 1px 1px;
  width: 100%;
  text-align: right;
}

#display p {
  padding-right: 5px;
}

#clear-button, #delete-button {
  background-color: black;
  color: white;
  font-size: 20px;
}

#clear-button:hover, #delete-button:hover {
  background-color: #F3EFF5;
  color: black;
}

#operation-display {
  font-size: 14px;
}

.row {
  width: 100%;
  display: flex;
  gap: 10px;
}

.row div {
  background-color: #706f6f;
  color: white;
  display: flex;
  font-size: 30px;
  width: 45px;
  height: 35px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.row div:hover {
  cursor: pointer
;
}

.row div:active {
  transform: scale(1.1);
}

.row div p {
  margin: 0;
}